<%- include("./partials/header.ejs", {title: "Liste d'articles"}) %>

<h1>Articles</h1>

<ul>
  <% for (let article of articles){ %>

  <li><a href="<%=`/articles/${article.pub}`%>"><%= article.title %></a></li>

  <% } %>
  
</ul>



<%- include("./partials/footer.ejs") %>
