<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home page</title>
</head>
<body>
    <h1>La description</h1>
    <a href="/contact">Contact</a>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae delectus officiis facilis consequatur, nisi fuga animi eum alias voluptas earum distinctio dicta placeat commodi maiores voluptatem accusantium ad illum aliquid!</p>
   
</body>

</html>