<%- include("./partials/header.ejs", {title: "Home page"}) %>
<h1>Le grand Voldi</h1>
<a href="/contact">Contact</a>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae delectus
  officiis facilis consequatur, nisi fuga animi eum alias voluptas earum
  distinctio dicta placeat commodi maiores voluptatem accusantium ad illum
  aliquid!
</p>
<%- include("./partials/footer.ejs") %>
